In [1]:
import sys
sys.path.insert(0, '../../current_work')


import helpers.yFinance_class as yfHelper
import pandas as pd
import data_process_lib as dpl


# Veri Çekme İşlemleri #
# 1 - Tüm data için aynı period ve interval almak istiyoruz.
# use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        #period = "ytd",

# fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        #interval = "1m",

In [2]:
period = '10y'
interval = '1d'

userInputGaran = 'GARAN.IS'
userInputYapiKredi = 'YKBNK.IS'
userInputBIST = 'XU030.IS'
userInputUSD_TRY = 'TRY=X'
userInputJapanese30 = '^N225'

stockHelperData_0 = yfHelper.yFinance(userInputGaran.upper(), period, interval).getData()
stockHelperData_1 = yfHelper.yFinance(userInputYapiKredi.upper(), period, interval).getData()
stockHelperData_2 = yfHelper.yFinance(userInputUSD_TRY.upper(), period, interval).getData()
stockHelperData_3 = yfHelper.yFinance(userInputBIST.upper(), period, interval).getData()
stockHelperData_4 = yfHelper.yFinance(userInputJapanese30.upper(), period, interval).getData()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
stockHelperData_0 = dpl.obtainLabels(stockHelperData_0)

In [4]:
dataList = [stockHelperData_0, stockHelperData_1, stockHelperData_2, stockHelperData_3, stockHelperData_4]

In [5]:
for i, df in enumerate(dataList, 0):
    
    for col_name in df.columns:
        
        
        if col_name == "Date":
            pass
        else:
            df.rename(columns = {f"{col_name}" : f"{col_name}" + f"_{i}"}, inplace = True)
            

            
        #df.columns = [col_name+'_{}'.format(i) for col_name in df.columns]

In [6]:
merged_df = dataList[0].copy()
for df in dataList[1:]:
    merged_df = pd.merge(merged_df, df, on = 'Date')

In [7]:
merged_df

,Date,Open_0,High_0,Low_0,Close_0,Adj Close_0,Volume_0,Label_0,Open_1,High_1,...,Low_3,Close_3,Adj Close_3,Volume_3,Open_4,High_4,Low_4,Close_4,Adj Close_4,Volume_4
0,2012-01-16,5.82,5.84,5.64,5.82,4.870009,67229380,1.0,1.796919,1.796919,...,61829.398438,63600.101562,63600.101562,351400,8409.790039,8409.790039,8352.230469,8378.360352,8378.360352,76500000
1,2012-01-17,5.96,6.08,5.88,5.96,4.987157,88203342,1.0,1.822682,1.848444,...,63842.101562,64553.500000,64553.500000,448200,8420.120117,8475.660156,8413.219727,8466.400391,8466.400391,85500000
2,2012-01-18,6.24,6.24,5.92,6.24,5.221453,80206148,1.0,1.867766,1.867766,...,64034.500000,65748.601562,65748.601562,478700,8458.290039,8595.780273,8446.089844,8550.580078,8550.580078,136200000
3,2012-01-19,6.30,6.42,6.16,6.30,5.271659,68201351,1.0,1.964374,1.983696,...,65218.199219,66107.000000,66107.000000,504600,8596.679688,8668.940430,8596.679688,8639.679688,8639.679688,125100000
4,2012-01-20,6.30,6.38,6.24,6.30,5.271659,49785912,1.0,1.964374,1.996577,...,65712.296875,66388.703125,66388.703125,396000,8751.179688,8791.389648,8725.320312,8766.360352,8766.360352,177500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343,2022-01-06,11.38,11.57,11.36,11.48,11.480000,223955311,1.0,3.470000,3.570000,...,2180.399902,2219.600098,2219.600098,2056500,29136.750000,29158.949219,28487.869141,28487.869141,28487.869141,71600000
2344,2022-01-07,11.48,11.78,11.48,11.75,11.750000,388789472,-1.0,3.510000,3.710000,...,2206.500000,2256.600098,2256.600098,2517800,28711.529297,28813.089844,28293.699219,28478.560547,28478.560547,75200000
2345,2022-01-11,11.81,11.91,11.68,11.78,11.780000,230410361,1.0,3.740000,3.800000,...,2238.100098,2278.100098,2278.100098,2941900,28380.900391,28473.470703,28089.490234,28222.480469,28222.480469,73700000
2346,2022-01-12,11.87,11.92,11.80,11.85,11.850000,166235208,1.0,3.800000,3.910000,...,2289.699951,2298.100098,2298.100098,2457200,28449.529297,28814.310547,28427.599609,28765.660156,28765.660156,72500000
2347,2022-01-13,11.84,11.95,11.83,11.88,11.880000,177638969,-1.0,3.870000,3.910000,...,2285.100098,2309.000000,2309.000000,2496000,28658.220703,28660.449219,28444.960938,28489.130859,28489.130859,69900000

In [8]:
import anotherDataProcessLib as adpl

In [9]:
scaled_df = adpl.minmaxScaler(merged_df)

In [10]:
scaled_df

,Date,Open_0,High_0,Low_0,Close_0,Adj Close_0,Volume_0,Label_0,Open_1,High_1,...,Low_3,Close_3,Adj Close_3,Volume_3,Open_4,High_4,Low_4,Close_4,Adj Close_4,Volume_4
0,2012-01-16,0.011730,0.000000,0.014881,0.014793,0.000000,0.067658,1.0,0.101952,0.087103,...,0.413305,0.420377,0.420377,0.044999,0.005873,0.004732,0.005087,0.003698,0.003698,0.128528
1,2012-01-17,0.032258,0.031008,0.050595,0.035503,0.015537,0.088766,1.0,0.112175,0.106046,...,0.427009,0.426797,0.426797,0.057399,0.006336,0.007661,0.007826,0.007632,0.007632,0.143649
2,2012-01-18,0.073314,0.051680,0.056548,0.076923,0.046611,0.080718,1.0,0.130066,0.113149,...,0.428319,0.434844,0.434844,0.061306,0.008046,0.013001,0.009303,0.011395,0.011395,0.228831
3,2012-01-19,0.082111,0.074935,0.092262,0.085799,0.053269,0.068636,1.0,0.168402,0.155771,...,0.436378,0.437258,0.437258,0.064623,0.014244,0.016254,0.016066,0.015377,0.015377,0.210181
4,2012-01-20,0.082111,0.069767,0.104167,0.085799,0.053269,0.050103,1.0,0.168402,0.160506,...,0.439742,0.439154,0.439154,0.050712,0.021164,0.021698,0.021843,0.021039,0.021039,0.298219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343,2022-01-06,0.826979,0.740310,0.866071,0.852071,0.876658,0.225384,1.0,0.765873,0.738971,...,0.007192,0.007062,0.007062,0.263411,0.934189,0.927228,0.909415,0.902468,0.902468,0.120296
2344,2022-01-07,0.841642,0.767442,0.883928,0.892012,0.912467,0.391269,-1.0,0.781746,0.790441,...,0.007369,0.007311,0.007311,0.322501,0.915144,0.911851,0.900695,0.902052,0.902052,0.126344
2345,2022-01-11,0.890029,0.784238,0.913690,0.896450,0.916446,0.231880,1.0,0.873016,0.823529,...,0.007585,0.007456,0.007456,0.376825,0.900336,0.896752,0.891524,0.890607,0.890607,0.123824
2346,2022-01-12,0.898827,0.785530,0.931548,0.906805,0.925729,0.167295,1.0,0.896825,0.863971,...,0.007936,0.007591,0.007591,0.314738,0.903410,0.911905,0.906709,0.914883,0.914883,0.121808
2347,2022-01-13,0.894428,0.789406,0.936012,0.911243,0.929708,0.178772,-1.0,0.924603,0.863971,...,0.007905,0.007664,0.007664,0.319708,0.912756,0.905064,0.907488,0.902524,0.902524,0.117440

In [55]:
train, test = adpl.train_test_split(scaled_df)

In [62]:
n_past = 1
n_future = 1

X_train, y_train = adpl.futureSplitData(train, n_past, n_future, 0)
X_test, y_test = adpl.futureSplitData(test, n_past, n_future, 0)

In [63]:
X_train, X_test = adpl.reshapeData_X(X_train, X_test)
y_train, y_test = adpl.reshapeData_y(y_train, y_test)

In [64]:
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

In [65]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import Masking

model = Sequential()
#model.add(Masking(mask_value=0., input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(LSTM(units = 32, activation = 'relu'))
#model.add(Dropout(.25))
model.add(Dense(1, activation = 'tanh'))
    
model.compile(optimizer='adam', loss = 'mean_squared_error')
model.fit(X_train[:,:,:10], y_train, epochs = 10, batch_size=32)
model.summary()
y_predictions = model.predict(X_test[:,:,:10])

Epoch 1/10
1877/1877 [==============================] - 1s 561us/step - loss: 0.1208
Epoch 2/10
1877/1877 [==============================] - 0s 105us/step - loss: 0.0141
Epoch 3/10
1877/1877 [==============================] - 0s 100us/step - loss: 0.0088
Epoch 4/10
1877/1877 [==============================] - 0s 98us/step - loss: 0.0072
Epoch 5/10
1877/1877 [==============================] - 0s 99us/step - loss: 0.0057
Epoch 6/10
1877/1877 [==============================] - 0s 98us/step - loss: 0.0043
Epoch 7/10
1877/1877 [==============================] - 0s 97us/step - loss: 0.0030
Epoch 8/10
1877/1877 [==============================] - 0s 98us/step - loss: 0.0021
Epoch 9/10
1877/1877 [==============================] - 0s 99us/step - loss: 0.0015
Epoch 10/10
1877/1877 [==============================] - 0s 101us/step - loss: 0.0013
Model: "sequential_15"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_15 (LSTM)               (None, 32)                5504
_________________________________________________________________
dense_15 (Dense)             (None, 1)                 33
=================================================================
Total params: 5,537
Trainable params: 5,537
Non-trainable params: 0
_________________________________________________________________

In [66]:
import metrics_class as msl
msl.mseCalculator(y_predictions, y_test)

[1.02780557]

In [67]:
from sklearn.metrics import r2_score
print(' R2 degeri:',r2_score(y_test,y_predictions))

 R2 degeri: 0.9591991243791851

469

In [72]:
len(y_test)

469